.background1 {
  background-image: url(../backgrounddetail.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  z-index: -1;
}

.letra1 {
  color: white;
  font-size: 8px;
  background-color: #1a0631f0;
  margin-top: -17px;
  border: 1px solid black;
  position: relative;
}

.letra2 {
  position: relative;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.letra3 {
  position: relative;
  color: white;
  text-transform: capitalize;
  text-align: start;
  flex-direction: row;
}

.letra4 {
  position: relative;
  text-transform: capitalize;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.letra5 {
  position: relative;
  text-transform: capitalize;
  color: white;
  display: flex;
  justify-content: center;
}

.letraID {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
}

.hp {
  color: green;
}

.atk {
  color: red;
}

.def {
  color: rgb(255, 91, 165);
}

.vel {
  color: yellow;
}

.height {
  color: cyan;
}

.weight {
  color: rgb(152, 109, 0);
}

.div1 {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: column;
  width: 100%;
  height: 100%;
}

.but {
  --green: #000000;
  font-size: 14px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: #303030;
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4),
    0 0 9px 3px rgba(204, 212, 209, 0.21);
  cursor: pointer;
  z-index: 5;
  margin-top: 15px;
  left: 15px;
}

.but:hover {
  color: #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6),
    0 0 9px 3px rgba(203, 212, 208, 0.2);
}

.but:before {
  content: "";
  position: relative;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(176, 183, 180, 0.1) 40%,
    rgba(175, 186, 182, 0.1) 60%,
    transparent 100%
  );
}

.but:hover:before {
  transform: translateX(15em);
}

.delete{
  position: absolute;
  right: 0;
  background-color: red;
  color: white;
  z-index: 100000000;
  cursor: pointer; 
  font-size: 20px;
  padding: 5px;
  margin: 0;
  padding-top: 0;
}
